body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-style: bold;
	text-align: center;
	color: white;
	background-color: #FCFBF9;
}

header {
	width: 100%;
	padding: 10px;
	background-color: black;
}

.contenedor {
	position: relative;
	margin: auto;
	width: 1000px;
	height: 600px;

}

.box-coders {
	display: inline-block;
	margin: 20px;
	width: 200px;
	height: 200px;
	border: 1px solid whitesmoke;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.3);
}

span {
	position: relative;
	margin-top: 180px;
	float: right;
	font-family: "Inconsolata";
	color: whitesmoke;
    text-shadow: 1px 1px 2px black, 0 0 5px grey, 0 0 5px darkblue;
}

#kary {
	background-image: url(img/kary.jpg);

}

#silvana {
	background-image: url(img/silvana.jpg);
}

#lucero {
	background-image: url(img/lucero.jpg);
}

#mariana {
	background-image: url(img/mariana.jpg);
}

#mimi {
	background-image: url(img/mimi.jpg);
}

#pitt {
	background-image: url(img/pitt.jpg);
}

#amalia {
	background-image: url(img/amalia.jpg);
}

#edith {
	background-image: url(img/edith.jpg);
}

